<%- include('partials/_header'); %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <% if(data) { %>
                    <% for (var i=0; i<data.length; i++) {%>
                        <tr>
                            <td><%= data[i].nombre%></td>
                            <td><%= data[i].apellido%></td>
                            <td><%= data[i].direccion%></td>
                            <td><%= data[i].telefono%></td>
                            <td>
                                <a href="/delete/<%= data[i].id %>" class="btn btn-danger"><i class="far fa-trash-alt"></i> Eliminar</a>
                                <a href="/update/<%= data[i].id %>" class="btn btn-info"><i class="far fa-edit"></i> Editar</a>
                            </td>
                        </tr>
                        <%}%>
                        <% } %>
            </tbody>
        </table>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Registrar Usuario</h4>
                    <form action="/add" method="post">
                        <div class="form-group">
                            <input type="text" name="nombre" placeholder="Nombre" class="form-control form-control-lg">
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellido" placeholder="Apellido" class="form-control form-control-lg">
                        </div>
                        <div class="form-group">
                            <input type="text" name="direccion" placeholder="Direccion" class="form-control form-control-lg">
                        </div>
                        <div class="form-group">
                            <input type="text" name="telefono" placeholder="Telefono" class="form-control form-control-lg">
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar Usuario</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/_footer'); %>

